<div class="model__content form-dangky">
                <form action="/auth/login" method="post">
                    <div class="authen-form">
                         <div class="authen-form__header">
                             <h3 class="authen-form__text1">Đăng ký</h3>
                             <span class="authen-form__text2">Đăng nhập</span>
                         </div>
                         <div class="authen-form__form">
                             <div class="authen-form__group">
                                 <input type="email" class="authen-form__input" name="user_name"  placeholder="Email của bạn">
                             </div>
                             <div class="authen-form__group">
                                 <input type="password" class="authen-form__input" name="password" placeholder="Nhập mật khẩu">
                             </div>
                              
                             {{!-- <div class="authen-form__group">
                                 <input type="password" class="authen-form__input" placeholder="Nhập lại mật khẩu">
                             </div> --}}
                         </div>
                         <div class="authen-form__policy">
                             <p class="authen-form__policy-text">Bằng việc đăng kí, bạn đã đồng ý với chúng tôi về 
                                 <a href="" class="authen-form__policy-link">điều khoản dịch vụ</a> & <a href="" class="authen-form__policy-link">chính sách bảo mật</a>
                             </p> 
                         </div>
                         <div class="authen-form__controls">
                             <a class="btn authen-form__controls-back">Trở về</a>
                             <button class="btn btn-primary btn-primary-signup" type="submit">login</button>
                         </div>
                        
                    </div>
                </form>
                         
</div>