{{!-- <div class="product-info">
            <div class="container container-detail-product">
                <div class="gird">
                    <div class="gird_row">
                        <div class="breadcrumb-shop">
                            <ul class="breadcrumb-list">
                                <li class="breadcrumb-items">
                                    <a href="index.html">Trang chủ </a> <i class="breadcrumb-item-icon fas fa-chevron-right"></i>
                                </li>
                                <li class="breadcrumb-items">
                                    <a href="index.html">Danh mục</a> <i class="breadcrumb-item-icon fas fa-chevron-right"></i>
                                </li>
                                <li class="breadcrumb-items">BỘ ĐÔI LÀM SẠCH & GIẢM MỤN ĐẦU ĐEN</li>
                            </ul>
                        </div>
                        <div class="gird__col-12">
                            <div class="gird_row">
                                <div class="gird__col-4">
                                    <div class="product-img-full">
                                        <img src="./assets/img/TT2.png" alt="" class="product-image-feature">
                                    </div>
                                </div>
                                <div class="gird__col-8">
                                   <div class="hidden-sm">
                                        <div class="gird">
                                            <div class="gird_row">
                                                <div class="gird__col-8">
                                                    <div class="product-row">
                                                        <div class="product-col-left">
                                                            <div class="product-tittle">
                                                                <h1>BỘ ĐÔI LÀM SẠCH & GIẢM MỤN ĐẦU ĐEN</h1>
                                                            </div>
                                                            <div class="pro-meta">
                                                                <span class="pro--meta-sku">
                                                                    <strong>SKU:</strong>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="product-col-right">
                                                            <div class="product-price">
                                                                <span class="pro-price">
                                                                    <strong>409,000 - </strong>
                                                                    <strong class="old-price">465,000</strong>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                               </div>
                                               <div class="gird__col-4">
                                                   <div class="section-buttons">
                                                       <button class="button-addproduct">Thêm vào giỏ</button>
                                                       <button class="button-buynow">Mua ngay</button>
                                                   </div>
                                               </div>
                                                    <div class="product-provin">
                                                        <div class="ship-title">
                                                            <span>Giao đến:     </span>
                                                            <span class="ship-select">    (TPHCM)</span>
                                                        </div>
                                                        <div class="btn-change">
                                                                <a href="">Thay đổi</a>
                                                        </div>
                                                    </div>
                                               </div>
                                               <div class="product-description">
                                                   <div class="product-tab-nav">
                                                       <a href="#tab-description1">
                                                           <span>Mô tả</span>
                                                       </a>
                                                   </div>
                                                   <div class="description-stage">
                                                       <div id="tab-description1">
                                                           <div class="description-content">
                                                            <img src="https://file.hstatic.net/200000017272/file/07__1__ced158c518dd492fa84ddd1f68f27dd6.png">
                                                            <br><br>
                                                            <br>
                                                            <p><span style="font-size:15px;"><em>Bộ sản phẩm bao gồm:</em></span></p>
                                                            <ul>
                                                                
                                                            <li style="text-align: start;"><span style="font-size:15px"><em><span style="background-color:white"><span style="color:#222222"><strong>01 x&nbsp;Kem dưỡng làm dịu và phục hồi làn da Cicaplast Baume B5 Soothing Repairing Balm 40ml</strong></span></span></em></span><br><br><span style="font-size:15px"><strong>🎁&nbsp;<em>Quà tặng:</em></strong></span></li>
                                                            <li style="text-align: start;"><span style="font-size:15px"><em><span style="background-color:white"><span style="color:#222222">01 x&nbsp;</span></span>Nước cân bằng giàu khoáng dành cho da dầu mụn Effaclar Astringent Lotion 15ml Inter</em></span></li>
                                                            <li style="text-align: start;"><span style="font-size:15px"><em>01 x&nbsp;Dưỡng chất phục hồi và tái tạo da Sa Hyalu B5 Serum 1.5ml Inter</em></span></li>
                                                            </ul>
                                                            <p style="text-align: start;">&nbsp;</p>
                                                            <p><span style="font-size:15px"><em>Thông tin chi tiết:</em></span></p>
                                                            <p style="text-align: start;"><em><strong>1.&nbsp;Kem dưỡng làm dịu và phục hồi làn da &nbsp;Cicaplast Baume B5 Soothing Repairing Balm 40ml:&nbsp;</strong>làm dịu kích ứng &amp; phục hồi da La Roche-Posay Cicaplast Baume B5 40ml không chỉ giúp dưỡng ẩm mà còn giảm thiểu rõ rệt các dấu hiệu của sự kích ứng trên những vùng da bị tổn thương và phục hồi làn da. Sản phẩm được khuyên dùng sau các liệu trình&nbsp;thẩm mỹ &amp; kích ứng da nhẹ ở người lớn, trẻ em và trẻ sơ sinh.</em></p>
                                                           
                                                         <p style="text-align: center"><img alt="lamdieuvaphuchoida" style="width: 303px; height: 275px;" src="//product.hstatic.net/200000017272/product/3337872412998_8ac813a687af48bdb6537adf733ec49c_grande.png"></p>
                                                         <p style=""><em><strong>2. &nbsp;Quà tặng:&nbsp;Nước cân bằng giàu khoáng dành cho da dầu mụn&nbsp;Effaclar Astringent Lotion 15ml Inter:&nbsp;</strong>với thành phần chính từ nước khoáng thiên nhiên, không chứa các thành phần độc hại, làm dịu mát da. Sản phẩm giúp cân bằng độ pH, cấp ẩm cho da mềm mại. Sản phẩm còn là giải pháp làm sạch sâu lỗ chân lông, ngăn chặn sự tích tụ bã nhờn cùng dầu thừa và giảm thiểu tình trạng tắc nghẽn lỗ chân lông gây nên mụn.</em></p>
                                                         <p style="text-align: center"><img alt="" style="width: 285px; height: 285px;" src="//product.hstatic.net/200000017272/product/toner_mun_15ml_ab8d543afb354a039ae200f7727431f2_grande.png"></p>
                                                         <p style=""><em><strong>3. Quà tặng:&nbsp;Dưỡng chất phục hồi và tái tạo da Sa Hyalu B5 Serum 1.5ml Inter&nbsp;</strong>Công nghệ đột phá từ viện nghiên cứu La Roche-Posay, kết hợp 3 thành phần [2 loại Hyaluronic acid nguyên chất] + [Vitamin B5] + [Madecassoside] giúp phục hồi làn da tối ưu, làn da trở nên căng mịn, hàng rào bảo vệ da được phục hồi đồng thời thúc đẩy quá trình tái tạo của da. Sản phẩm không chứa paraben, không gây nhân mụn trứng cá, độ an toàn và hiệu quả được kiểm định trên làn da nhạy cảm.</em></p>
                                                         <p style="text-align: center;"><img alt="" style="width: 294px; height: 294px;" src="//product.hstatic.net/200000017272/product/hyalu1.5ml_cf6985c64d5d4129951f68b56a534a8a_grande.png"></p>
                                                         <br><br>
                                                         <p><em><strong>THÔNG TIN THƯƠNG HIỆU</strong><br><br>La Roche-Posay là nhãn hàng dược mỹ phẩm đến từ Pháp trực thuộc tập đoàn L’Oreal đã hoạt động được hơn 30 năm, phối hợp nghiên cứu với các bác sĩ da liễu trên toàn thế giới cho ra đời các sản phẩm dưỡng da hướng đến thị trường sản phẩm dành cho da nhạy cảm, ngoài ra còn có dòng sản phẩm dành cho trẻ em. Thành phần nổi bật xuất hiện trong các sản phẩm của La Roche-Posay (LRP) là nước suối khoáng – thermal spring water. Tất cả những sản phẩm thuộc La Roche Posay đều được thử nghiệm lâm sàng và đánh giá khách quan từ bệnh viện Saint Jacques-Toulouse. Quy trình bào chế của sản phẩm cũng rất nghiêm ngặt mang lại cho người sử dụng vẻ đẹp tự nhiên và rất an toàn.<br>--</em></p>
                                                         <p><em>Hạn sử dụng: 3 năm kể từ ngày sản xuất<br>Ngày sản xuất: In trên bao bì<br>Thành phần: Xem chi tiết trên bao bì<br>Xuất xứ thương hiệu: Pháp<br>Nơi sản xuất: Pháp</em></p>
                                                         <p><em>***Chi tiết mẫu mã bao bì có thể thay đổi tùy đợt nhập hàng</em></p>
                                                        </div>
                                                       </div>
                                                   </div>
                                               </div>
                                        </div>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="detailproduct-footer container">
            <div id="footer-info">
                <div class="gird">
                    <div class="gird_row">
        
                        <div class="gird__col-3-of-12">
                            <div class="footer-info-link">
                                <h4 class="footer-tittle">VỀ CHÚNG TÔI</h4>
                                <ul class="footer-list">
                                    <li class="footer-list-items">
                                        CÔNG TY TNHH L’OREAL VIỆT NAM
                                    </li>
                                    <li class="footer-list-items">
                                        Người đại diện:  Valery Gaucherand 
                                    </li>
                                    <li class="footer-list-items">
                                        Địa chỉ:  Tầng 10, Tòa nhà Vincom, Số 45A đường Lý Tự Trọng và số 72 đường Lê Thánh Tôn, P. Bến Nghé, Q. 1, Tp. HCM
                                    
                                    </li>
                                    <li class="footer-list-items">
                                        Điện thoại:  028 35208840 bấm số nhánh (341) hoặc (342)
                                    </li>
                                    <li class="footer-list-items">
                                        Email: <a href="" class="footer-info-email">lorealvietnam@loreal.com</a>
                                    </li>
                                     <li class="footer-list-items">
                                        MSDN:   0102289856 cấp ngày 23/05/2007 tại Hà Nội
                                    </li>
                                    <li class="footer-list-items">
                                        Bạn đang truy cập trang web thương hiệu của Công ty L’OREAL Việt Nam. Phân phối sản phẩm được xử lý bởi Công ty OnPoint, mã số ĐKKD 0314709816, đại lý ủy quyền của L’OREAL Việt Nam.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="gird__col-3-of-12">
                            <div class="footer-info-link">
                                <h4 class="footer-tittle">DANH MỤC</h4>
                                <ul class="footer-list">
                                    <li class="footer-list-items">
                                     <a href="TayTrangLamSach.html" class="footer-info-href">tẩy trang và làm sạch</a>   
                                    </li>
                                    <li class="footer-list-items">
                                     <a href="ChamSocMun.html" class="footer-info-href">liệu trình chăm sóc da mụn</a>    
                                    </li>
                                    <li class="footer-list-items">
                                     <a href="ChongNang.html" class="footer-info-href">chống nắng</a>  
                                    
                                    </li>
                                    <li class="footer-list-items">
                                      <a href="LieuTrinhDuongAm.html" class="footer-info-href">Dưỡng ẩm và các liệu trình đặc biệt</a>  
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="gird__col-3-of-12">
                            <div class="footer-info-link">
                                <h4 class="footer-tittle">PHÁP LÝ & CÂU HỎI</h4>
                                <ul class="footer-list">
                                    <li class="footer-list-items">
                                      <a href="" class="footer-info-href">Chính sách bảo mật</a>  
                                    </li>
                                    <li class="footer-list-items">
                                      <a href="ship.html" class="footer-info-href">Chính sách giao hàng và thanh toán</a>  
                                    </li>
                                    <li class="footer-list-items">
                                      <a href="" class="footer-info-href">Chính sách cookie</a>  
                                    
                                    </li>
                                    <li class="footer-list-items">
                                      <a href="" class="footer-info-href">Chính sách đổi trả</a>  
                                    </li>
                                    <li class="footer-list-items">
                                     <a href="" class="footer-info-href">FAQ</a>  
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="gird__col-3-of-12">
                            <div class="footer-info-link">
                                <h4 class="footer-tittle">NHỮNG CÂU HỎI THƯỜNG GẶP</h4>
                                <ul class="footer-list">
                                    <li class="footer-list-items">
                                      <a href="aboutus.html" class="footer-info-href">Vì sao chọn La Roche Posay</a>  
                                    </li>
                                    <li class="footer-list-items">
                                      <a href="aboutus.html" class="footer-info-href">Cam kết từ La Roche Posay</a>  
                                    </li>
                                    <li class="footer-list-items">
                                      <a href="" class="footer-info-href">Thông tin liên hệ</a>  
                                    
                                    </li>
                                    
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>
        </div> --}}
<form action="/product" method="POST">
            <div class="form-group">
              <label for="firstName">Product Name</label>
              <input type="text" class="form-control col-lg-9" id="name"  placeholder="Enter first name" name="name">
            </div>
            <div class="form-group">
              <label for="lastName">base_price</label>
              <input type="number" class="form-control col-lg-9" id="base_price"  placeholder="Enter last name" name="base_price">
            </div>
            <div class="form-group">
              <label for="lastName">product_sku</label>
              <input type="text" class="form-control col-lg-9" id="product_sku"  placeholder="Enter last name" name="product_sku">
            </div>
            <div class="form-group">
              <label for="lastName">description</label>
              <input type="text" class="form-control col-lg-9" id="description"  placeholder="Enter last name" name="description">
            </div>
            <div class="form-group">
              <label for="lastName">category_id</label>
              <input type="number" class="form-control col-lg-9" id="category_id"  placeholder="Enter last name" name="category_id">
            </div>
            
          
            <input type="submit">
</form>
<div>
    <ul>
        {{#each products}}
        <li class="item-{{this.id}}">{{this.name}} <a class="button" href="http://localhost:3000/product/delete/{{this.id}}">delete</a></li>
        
        {{/each}}
    </ul>
</div>
