

<div class="main--footer">
    <div class="container">
        <div id="footer-info">
            <div class="gird">
                <div class="gird_row">
    
                    <div class="gird__col-3-of-12">
                        <div class="footer-info-link">
                            <h4 class="footer-tittle">VỀ CHÚNG TÔI</h4>
                            <ul class="footer-list">
                                <li class="footer-list-items">
                                    CÔNG TY TNHH L’OREAL VIỆT NAM
                                </li>
                                <li class="footer-list-items">
                                    Người đại diện:  Valery Gaucherand 
                                </li>
                                <li class="footer-list-items">
                                    Địa chỉ:  Tầng 10, Tòa nhà Vincom, Số 45A đường Lý Tự Trọng và số 72 đường Lê Thánh Tôn, P. Bến Nghé, Q. 1, Tp. HCM
								
                                </li>
                                <li class="footer-list-items">
                                    Điện thoại:  028 35208840 bấm số nhánh (341) hoặc (342)
                                </li>
                                <li class="footer-list-items">
                                    Email: <a href="" class="footer-info-email">lorealvietnam@loreal.com</a>
                                </li>
                                 <li class="footer-list-items">
                                    MSDN:   0102289856 cấp ngày 23/05/2007 tại Hà Nội
                                </li>
                                <li class="footer-list-items">
                                    Bạn đang truy cập trang web thương hiệu của Công ty L’OREAL Việt Nam. Phân phối sản phẩm được xử lý bởi Công ty OnPoint, mã số ĐKKD 0314709816, đại lý ủy quyền của L’OREAL Việt Nam.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="gird__col-3-of-12">
                        <div class="footer-info-link">
                            <h4 class="footer-tittle">DANH MỤC</h4>
                            <ul class="footer-list">
                                <li class="footer-list-items">
                                 <a href="TayTrangLamSach.html" class="footer-info-href">tẩy trang và làm sạch</a>   
                                </li>
                                <li class="footer-list-items">
                                 <a href="ChamSocMun.html" class="footer-info-href">liệu trình chăm sóc da mụn</a>    
                                </li>
                                <li class="footer-list-items">
                                 <a href="ChongNang.html" class="footer-info-href">chống nắng</a>  
								
                                </li>
                                <li class="footer-list-items">
                                  <a href="LieuTrinhDuongAm.html" class="footer-info-href">Dưỡng ẩm và các liệu trình đặc biệt</a>  
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="gird__col-3-of-12">
                        <div class="footer-info-link">
                            <h4 class="footer-tittle">PHÁP LÝ & CÂU HỎI</h4>
                            <ul class="footer-list">
                                <li class="footer-list-items">
                                  <a href="" class="footer-info-href">Chính sách bảo mật</a>  
                                </li>
                                <li class="footer-list-items">
                                  <a href="" class="footer-info-href">Chính sách giao hàng và thanh toán</a>  
                                </li>
                                <li class="footer-list-items">
                                  <a href="" class="footer-info-href">Chính sách cookie</a>  
								
                                </li>
                                <li class="footer-list-items">
                                  <a href="" class="footer-info-href">Chính sách đổi trả</a>  
                                </li>
                                <li class="footer-list-items">
                                 <a href="" class="footer-info-href">FAQ</a>  
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="gird__col-3-of-12">
                        <div class="footer-info-link">
                            <h4 class="footer-tittle">NHỮNG CÂU HỎI THƯỜNG GẶP</h4>
                            <ul class="footer-list">
                                <li class="footer-list-items">
                                  <a href="aboutus.html" class="footer-info-href">Vì sao chọn La Roche Posay</a>  
                                </li>
                                <li class="footer-list-items">
                                  <a href="aboutus.html" class="footer-info-href">Cam kết từ La Roche Posay</a>  
                                </li>
                                <li class="footer-list-items">
                                  <a href="" class="footer-info-href">Thông tin liên hệ</a>  
								
                                </li>
                                
                                
                            </ul>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
        <div class="container">
            <div class="gird">
                <div class="gird_row">
                        <div class="main-footer-border">
                            
                        </div>
                        <div class="gird__col-6">
                            <div class="pull-left">
                                <h3>ĐĂNG KÝ NHẬN THÔNG TIN</h3>
                                <input type="text"class="input-email" placeholder="Nhập email cho bạn">
                                <button class="pull-left-submit">GỬI</button>
                            </div>
                           
                        </div>
                   
                        <div class="gird__col-6">
                            
                            <div class="pull-right">
                                <a href="#">
                                    <img src="//theme.hstatic.net/200000017272/1000696988/14/logo-bct.png?v=3298">
                                </a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="gird">
            <div class="gird_row">
                <div class="footer-policy">
                    <p>Chúng tôi sử dụng “các tệp văn bản nhỏ” cần thiết trên thiết bị của Quý khách (máy tính, máy tính bảng hoặc điện thoại di động) khi Quý khách truy cập các trang website của Tập đoàn L'Oréal. Chúng tôi sẽ sử dụng các “cookie” để cải thiện hiệu quả hoạt động cho trang web của chúng tôi.</p>
                </div>
            </div>
        </div>
    </div>
       <footer class="footer">
        Copyright © 2021 LOREAL ACD Vietnam. All rights reserved. Powered by Haravan Enterprise
       </footer>
       
      
        </div>